@page "/"

<UseGetDomains Context="result">
    <ChildContent>
        <ul>
        @foreach (IGetDomains_Domains item in result.Domains!)
        {
            <li>@item.Id</li>
            <li>@item.Name </li>
            <li>@item.Info</li>
            <li>@item.Hosts</li>
        }
        </ul>
    </ChildContent>
    <ErrorContent>
        Something went wrong ...<br />
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        Loading ...
    </LoadingContent>
</UseGetDomains>
