@page "/explore"
@using System.Net.Http.Json
@using Demo.Components;
@using Demo.Models;
@inject HttpClient Http

@if (isLoading)
{
    <p><em>Loading data...</em></p>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">Error loading data: @errorMessage</p>
}
else
{
    <table class="table-custom table-striped">
        <thead class="table-custom-head">
            <tr>
                <th><p class="host-link">Id</p></th>
                <th><p class="host-link">Ip</p></th>
                <th><p class="host-link">Subnet</p></th>
                <th><p class="host-link">Info</p></th>
                <th><p class="host-link">Domains</p></th>
                <th><p class="host-link">Ports</p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var host in hosts.hosts)
            {
                <tr>
                    <td><p class="label-text">@host.Id</p></td>
                    <td><p class="host-link">@host.Ip</p></td>
                    <td>@host.Subnet</td>
                    <td><p class="label-text">@host.Info</p></td>
                    <td>
                        <DomainForm DomainsList=host.Domains RelatedHost="host.Id"></DomainForm>
                    </td>
                    <td>
                        <PortForm PortsList="host.Ports" RelatedHost="host.Id"></PortForm>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Hosts hosts;
    private bool isLoading = true;
    private string errorMessage;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Fetch and automatically deserialize the JSON into a List<User>
            hosts = await Http.GetFromJsonAsync<Hosts>("http://127.0.0.1:4108/api/explore");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }
   
}