@page "/explore"
@using System.Net.Http.Json
@using 
@inject HttpClient Http

<h3>Explore</h3>

@if (isLoading)
{
    <p><em>Loading data...</em></p>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">Error loading data: @errorMessage</p>
}
else
{
    <table class="table-custom table-striped">
        <thead class="table-custom-head">
            <tr>
                <th>Id</th>
                <th>Ip</th>
                <th>SubnetId</th>
                <th>Subnet</th>
                <th>Info</th>
                <th>Domains</th>
                <th>Ports</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var host in hosts.hosts)
            {
                <tr>
                    <td>@host.Id</td>
                    <td>@host.Ip</td>
                    <td>@host.SubnetId</td>
                    <td>@host.Subnet</td>
                    <td>@host.Info</td>
                    <td>
                        @foreach (Domain d in @host.Domains)
                        {}
                    </td>
                    <td>@foreach (Port port in @host.Ports)
                        {<div class="port-form-box"><EditForm class="port-form" Model="@port" OnSubmit="EditPort" FormName="PortForm">
                            <div>
                                <label>
                                Number
                                <InputNumber @bind-Value="port.Number"></InputNumber>
                                </label>
                            </div>
                            <div>
                                <label>
                                Info
                                <InputText @bind-Value="port.Info"></InputText>
                                </label>
                            </div>
                            <div>
                                <label>
                                Protocol
                                <InputText @bind-Value="port.Protocol"></InputText>
                                </label>
                            </div>
                            <div>
                                <label>
                                Banner
                                <InputText @bind-Value="port.Banner"></InputText>
                                </label>
                            </div>
                            <input type="hidden" @bind-value="port.Id"/>
                            <div>
                                <button type="submit">Save</button>
                                <button type="button btn-danger" @onclick="() => DeletePort(port)">Detach</button>
                            </div>
                         </EditForm></div>}
                    </td>
                    <td>@foreach (Tag tag in @host.Tags)
                        {
                            <div class="tag-form"><EditForm Model="@tag" OnSubmit="EditTag" FormName="TagForm">
                            <div>
                                <label>
                                Number
                                <InputNumber @bind-Value="tag.Name"></InputNumber>
                                </label>
                            </div>
                            <input type="hidden" @bind-value="tag.Id"/>
                            <div>
                                <button type="submit">Save</button>
                                <button type="button btn-danger" @onclick="() => DetachTag(tag)">Detach</button>
                            </div>
                         </EditForm></div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Hosts hosts;
    private bool isLoading = true;
    private string errorMessage;
    private async Task EditDomain() {
        Domain? editDomainRequest = await Http.GetFromJsonAsync<Domain>("http://127.0.0.1:4108/api/domains/edit");
    }
    private async Task DetachDomain(Domain domain) {
        await Http.PostAsJsonAsync("http://127.0.0.1:4108/api/domains/detach", domain.Id); 
    }
    private async Task EditPort() {
        Port? editPortRequest = await Http.GetFromJsonAsync<Port>("http://127.0.0.1:4108/api/ports/edit");
    }
    private async Task DeletePort(Port port) {
        await Http.PostAsJsonAsync("http://127.0.0.1:4108/api/ports/delete", port.Id); 
    }
    private async Task EditTag() {
        tag
        Domain? editDomainRequest = await Http.GetFromJsonAsync<Domain>("/api/tags/edit");
    }
    private async Task DetachTag(Tag tag) {
        await Http.PostAsJsonAsync("http://127.0.0.1:4108/api/tags/edit", tag.Id); 
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Fetch and automatically deserialize the JSON into a List<User>
            hosts = await Http.GetFromJsonAsync<Hosts>("http://127.0.0.1:4108/api/explore");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }
   
}